@import 'base/global';
@import 'mixins/var';
@import 'base/reset';

@media (max-width: 1400px) {
    .explore::before {
        z-index: -2;
    }
}
@media (max-width: 1290px) {
    .header {
        &__buttons {
            display: block;
        }

        &__top {
            padding-right: 60px;
        }

        .logo {
            position: absolute;
            z-index: 10;
            left: 10px;
        }

        .menu {
            &__btn {
                display: flex;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                z-index: 10;
                cursor: pointer;
            }
            &__list {
                position: absolute;
                z-index: 5;
                background-color: #F3F4F5 ;
                flex-direction: column;
                padding-top: 70px;
                margin: 0 -10px;
                margin-top: -24px;
                height: auto;
                left: 0;
                right: 0;
                top: 0;
                align-items: center;
                justify-content: center;
                transform: translateY(-200%);
                transition: all 0.5s ease;
                &.menu__list-active {
                    transform: translateY(0);
                }
                &-item {
                    padding: 20px 0;
                    padding-left: 0;
                }
                &-item + .menu__list-item {
                    margin-left: 0;
                }
            }
        }

        .promo {
            display: flex;
            align-items: center;
            &__info {
                padding-left: 20px;
            }
            &__title {
                font-size: 110px;
                line-height: 120px;
                margin-bottom: 30px;
            }  
            &__rating {
                bottom: 36px;
            }         
             
        }
    }

    .best {
        &__items {
            grid-template-columns: 1fr;
        }
        &__item {
            margin: 0 auto 40px auto;
        }
    }

    .footer {
        &__content {
            display: block;
            text-align: center;
        }
        &__about {
            margin: 0 auto;
            margin-bottom: 40px;
            &-logo {
                margin: 0 auto;
            }
        }

        &__contacts {
            margin: 0 auto;
            .social__list {
                justify-content: center;
            }
        }
    }

    
    
}

@media (max-width: 1100px) {
    .header {
        .promo {
            display: flex;
            align-items: center;
            &__title {
                font-size: 99px;
                line-height: 105px;
                margin-bottom: 30px;
            } 
            
            &__rating {
                bottom: 20px;
                left: 10px;
                &-star {
                    margin-bottom: 12px;
                }
                &-descr {
                    font-size: 19px;
                    line-height: 26px;
                }
            }

            &__info {
                margin-bottom: 60px;
            }

            &__main {
                &-img {
                    object-fit: cover;
                    width: 65%;
                }
            }
             
        }
    }
    
}

@media (max-width: 1070px) {
    .header {
        .promo {
            display: block;
            text-align: center;
            &__info {
                max-width: 100%;
            }
            &__buttons {
                display: flex;
                justify-content: center;
                margin-bottom: 40px;
            }

            &__media {
                display: flex;
                justify-content: center;
            }
            &__award {
                right: 62px;
            }
            &__rating {
                bottom: 79px;
                left: 53px;
            }
            }
             
    }

    .explore {
        padding-top: 90px;
        padding-bottom: 60px;
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
        &__item {
            max-width: 400px;
            margin: 0 auto;
            margin-bottom: 20px;
            &:last-child {
                grid-column: 1/3;
            }
        }
    }

    .order {
        &__inner {
            display: block;
        }
        &__info {
            margin: 0 auto;
            text-align: center;
        }
    }

    .best {
        margin-bottom: 50px;
    }

    .review {
        &__info {
            margin-left: 40px;
            padding-top: 70px;
            &-title {
                line-height: 52px;
                font-size: 45px;
            }

            &-rating {
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 950px) {
    .app {
        &__inner {
            display: block;
            text-align: center;
        }
        &__info {
            max-width: 100%;
        }

    }
}

@media (max-width: 860px) {
    .header {
        &__top {
            padding-right: 50px;
        }
        .cart__btn {
            width: 40px;
            height: 40px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .vouchers__link {
            margin-left: 20px;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            padding: 10px 15px;
            margin-left: 10px;
        }
    }

    .explore {
        &__items {
            display: block;
        }
        &::before {
            left: -25%;
        }
    }

    .order {
        margin-bottom: 30px;
    }

    .best {
        margin-bottom: 30px;
    }

    .review {
        &__inner {
            flex-direction: column;
            position: relative;
        }
        &__items {
            margin-bottom: 40px;
        }
        .slider__navigation {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &__slider {
            order: 2;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        &__info {
            width: 100%;
            margin-left: 0;
            text-align: center;
            &-title {
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 560px) {
    .header {
        .promo {
            &__title {
                font-size: 81px;
                line-height: 86px;
            }

            &__btn {
                font-size: 15px;
                line-height: 18px;
                min-width: 200px;
                padding: 17px 22px;
            }

            &__rating {
                bottom: 27px;
            }
             
        }
    }

    .best {
        &__item {
            &-img {
                width: 50%;
                object-fit: cover;
            }
            
        }
    }

    .footer {
        &__content {
            .footer__contacts {
                &-link {
                    font-size: 26px;
                    line-height: 31px;
                    padding: 8px 10px 8px 10px;
                    &::after {
                        top: 50%;
                        transform: translateY(-50%);
                        width: 40px;
                        height: 40px;
                    }
                }
                .social__list {
                    &-item {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            .footer__about {
                margin-bottom: 50px;
                &-logo {
                    object-fit: cover;
                    width: 50%;
                }
                &-text {
                    font-size: 24px;
                    line-height: 35px;
                    margin-bottom: 40px;
                }
            }
        }
       
        &__title {
            font-size: 37px;
            line-height: 41px;
        }
        
        &__bottom {
            display: block;
            text-align: center;
            &-text {
                margin-bottom: 20px;
            }
            &-links {
                justify-content: center;
            }
        }
    }

    .section {
        &__title {
            font-size: 51px;
            line-height: 56px;
        }
    }
}

@media (max-width: 480px) {
    .header {
        .promo {
            &__title {
                font-size: 66px;
                 line-height: 70px;
            }
            &__buttons {
                display: block;
            }
            &__btn {
                margin-bottom: 10px;
            }
             
        }

        .vouchers__link {
            display: block;
            position: absolute;
            bottom: -50px;
            right: 0;
            &.hide {
                display: none;
            }
        }
    }

    .explore {
        background-image: none;
    }

    .best {
        &__item {
            &-info {
                padding: 28px 17px 27px 17px;
            }
            
            &-btn {
                padding: 15px 20px;
                line-height: 25px;
                font-size: 15px;
            }
            &-name {
                font-size: 33px;
                line-height: 35px;
            }
        }
    }

    .app {
        &__info {
            &-title {
                font-size: 56px;
                line-height: 61px;
            }
        }
    }

    .review {
        &__item {
            max-width: 340px;
            width: 80%;
            margin-right: 10px;
        }
    }
}

    
    