@import 'base/global';
@import 'mixins/var';
@import 'base/reset';

.header {
    padding-top: 24px;
    padding-bottom: 131px;
    background: #EEEFF1;
    min-height: 100vh;
    &__top {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 123px;
        position: relative;
    }
    .logo {
        display: block;
        justify-self: flex-start;
        position: absolute;
        left: 0;
        &__img {
        }
    }
    .menu {
        padding: 17px 0;
        &__list {
            display: flex;
            color: $black-color;
            font-weight: 500;
            &-item {
                margin-right: 40px;            
            }
            &-link {
            }
        }
    }
    .cart__btn {
        border: none;
        width: 56px;
        height: 56px;
        background-color: #fff;
        border-radius: 50%;
        padding: 16px;
        &-img {
        }
    }
    .vouchers__link {
        max-width: 208px;
        margin-left: 20px;
    }

    .promo {
        display: flex;
        &__info {
            padding-top: 31px;
            max-width: 597px;
        }
        &__title {
            color: $black-color;
            font-weight: 800;
            font-size: 124px;
            line-height: 140px;
            margin-bottom: 30px;
        }
        &__descr {
            font-size: 24px;
            line-height: 35px;
            margin-bottom: 60px;
        }
        &__buttons {
            display: flex;
        }
        &__btn {
            margin-right: 30px;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
            color: $black-color;
            min-width: 225px;

        }
        &__media {
            position: relative;
        }
        &__award {
            position: absolute;
            right: 0;
            top: 31px;

        }
        &__main-img {
        }
        &__rating {
            max-width: 280px;
            padding: 20px 24px;
            background-color: #FFFFFF;
            border-radius: 24px;
            position: absolute;
            bottom: 181px;
            left: 44px;
            &-star {
                margin-bottom: 12px;
            }
            &-descr {
                font-size: 19px;
                line-height: 26px;
            }
        }
        
        
        
        
    }
    
}

.explore {
    padding: 150px 0 190px;
    background-image: url(../images/explore/background.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    &__title {
        margin-bottom: 24px;
        text-align: center;
    }
    &__descr {
        font-size: 24px;
        line-height: 35px;        
        max-width: 604px;
        margin: 0 auto;
        margin-bottom: 90px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
    &__item {
        padding: 40px 37px 40px 40px;
        background: linear-gradient(152.09deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
        border-radius: 24px;
        &-title {
            font-weight: 600;
            font-size: 36px;
            line-height: 52px;
            margin-bottom: 8px;
        }
        &-descr {
            font-size: 24px;
            line-height: 35px;
            margin-bottom: 60px;
        }
        &-img {
            display: block;
            margin: 0 auto;
            margin-bottom: 60px;
        }
        &-btn {
            max-width: 225px;
            margin: 0 auto;
        }
    }
}

.order {
    padding-bottom: 70px;
    margin-bottom: 100px;
    &__inner {
        display: flex;
    }
    &__media {
        &-img {
        }
    }
    &__info {
        padding-top: 80px;
        padding-bottom: 45px;
        max-width: 512px;
        &-title {
            margin-bottom: 30px;
        }
        &-descr {
            margin-bottom: 60px;
            font-size: 24px;
            line-height: 35px;
        }
        &-btn {
            max-width: 191px;
        }
    }
    
}

.best {
    margin-bottom: 200px;
    &__title {
        text-align: center;
        margin-bottom: 24px;
    }
    &__descr {
        max-width: 604px;
        margin: 0 auto;
        margin-bottom: 100px;
        text-align: center;
        font-size: 24px;
        line-height: 35px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
    &__item {
        max-width: 393px;
        background: linear-gradient(142.42deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
        border-radius: 24px;
        padding: 40px 30px 35px 30px; 
        &-info {
            display: flex;
            margin-bottom: 21px;
            position: relative;
        }
        &-img {
            // position: absolute;
            top: -308px;
        }
        &-about {
        }
        &-top {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 8px;
        }
        &-name {
            font-weight: 600;
            font-size: 40px;
            line-height: 44px;
        }
        &-descr {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 40px;
        }
        &-buy {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-price {
            font-weight: 500;
            font-size: 30px;
            line-height: 28px;
            color: $black-color;
        }
        &-btn {
            max-width: 171px;
        }
    }
}

.app {
    margin-bottom: 220px;
    background-image: url(../images/app/app-bgi.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    &__inner {
        display: flex;
        padding-left: 30px;
    }
    &__info {
        max-width: 512px;
        padding-top: 183px;
        padding-bottom: 105px;
        &-title {
            margin-bottom: 30px;
        }
        &-descr {
            font-size: 24px;
            line-height: 35px;
            margin-bottom: 60px;
        }
        &-btn {
            max-width: 267px;
        }
    }
    
    &__media {
        &-img {
        }
    }
}

.review {
    margin-bottom: 210px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__slider {
    }
    &__items {
    }
    &__item {
        max-width: 468px;
        background: linear-gradient(142.42deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
        border-radius: 16px;
        margin-right: 35px;
        &-img {
        }
        &-content {           
            padding: 40px 41px 42px 40px;
        }
        &-about {
            display: flex;
            margin-bottom: 32px;
        }
        &-author {
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            margin-right: 16px;
        }
        &-rating {
        }
        &-text {
            font-size: 20px;
            line-height: 30px;
            color: $black-color;
        }
    }
    &__info {
        max-width: 454px;
        margin-left: 100px;
        &-title {
            margin-bottom: 40px;
        }
        &-rating {
            margin-bottom: 100px;
            .rating {
                display: flex;
                align-items: center;
                &__number {
                    margin-right: 24px;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 40px;
                    color: $black-color;
                    display: inline-block;
                }
                &__list {
                    margin-bottom: 8px;
                    display: inline-block;
                    &-comment {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }
        }
        .slider__navigation {
            &-btn {
                padding: 15px;
                background-color: #fff;
                border-radius: 50%;
                border: none;
                width: 60px;
                height: 60px;
                margin-right: 24px;
                box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
                cursor: pointer;
            }
            &-img {
            }
        }
    }
    
}

.footer {
    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 70px;
        .footer__about {
            max-width: 558px;
            font-size: 30px;
            line-height: 40px;
            &-logo {
                display: block;
                margin-bottom: 40px;
            }
            &-text {                
                margin-bottom: 108px;
            }
            .footer__stores {
                &-title {
                    margin-bottom: 30px;
                }
                &-descr {
                    margin-bottom: 30px;
                }
                &-link {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: $black-color;
                    position: relative;
                    padding-right: 34px;
                    &::after {
                        content: "";
                        position: absolute;
                        background-image: url(../images/footer/arrow.svg);
                        background-repeat: no-repeat;
                        height: 30px;
                        width: 30px;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        .footer__contacts {
            max-width: 413px;
            &-title {
                margin-bottom: 30px;
            }
            &-link {
                display: block;
                margin-bottom: 30px;
                font-size: 30px;
                line-height: 44px;
                position: relative;
                padding: 8px 0 8px 84px;
                &::after {
                    position: absolute;
                    content: '';
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
                    background-repeat: no-repeat;
                    background-position: center center;
                    border-radius: 50%;
                    left: 0;
                    top: 0;
                }
                &.mail::after {
                    background-image: url(../images/footer/mail.svg);
                }
                &.tel::after {
                    background-image: url(../images/footer/tell.svg);
                }
            }
            &-social {
                margin-bottom: 90px;
                .social__list {
                    display: flex;
                    &-item {
                        margin-right: 24px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #fff;
                        box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
                        background-repeat: no-repeat;
                        background-position: center center;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                    }
                    &-link {
                    }
                    &-img {
                    }
                }
            }
            .footer__form {
                &-title {
                    margin-bottom: 30px;
                }
                &-input {
                    margin-bottom: 30px;
                    display: block;
                    background: #FFFFFF;
                    box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
                    border-radius: 65px;
                    padding: 20px 30px;
                    border: none;
                    width: 100%;
                    &::placeholder {
                        font-size: 22px;
                        line-height: 30px;
                        color: rgba(100, 100, 106, 0.7);
                }
                }
                &-btn {
                }
            }
        }
        
    }

    &__bottom {
        padding: 40px 0;
        border-top: 1px solid rgba(27, 27, 29, 0.1);
        font-size: 22px;
        line-height: 30px;
        display: flex;
        justify-content: space-between;
        &-text {
            display: inline-block;
            span {
                color: $black-color;
                font-weight: 500;
            }
        }
        &-links {
            display: flex; 
        }
        &-link {
            padding: 0 12px;
            border-right: 1px solid $text-color;
            &:last-child {
                padding-right: 0px;
                border-right: none;
            }

        }
    }


}







































