@import '../base/global';
@import '../mixins/var';
@import '../base/reset';
@import '../../../node_modules/animate-scss/animate.scss';

.review {
    margin-bottom: 210px;
    background-image: url(../images/review/bgi.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
    
    }
    &__slider {
        width: 60%;
        overflow: hidden;
        position: relative;
        &-wraper {
            width: 100%;
            overflow: hidden;
        }
    }
    &__items {
        width: 400%;
        display: flex;
    }
    &__item {
        max-width: 468px;
        background: linear-gradient(142.42deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
        border-radius: 16px;
        margin-right: 35px;
        
        &-content {           
            padding: 40px 41px 42px 40px;
        }
        &-about {
            display: flex;
            margin-bottom: 32px;
        }
        &-author {
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            margin-right: 16px;
        }
        &-text {
            font-size: 20px;
            line-height: 30px;
            color: $black-color;
        }
    }
    &__info {
        width: 40%;
        margin: 0 auto 0 100px;
        &-title {
            margin-bottom: 40px;
        }
        &-rating {
            margin-bottom: 100px;
            .rating {
                display: flex;
                align-items: center;
                &__number {
                    margin-right: 24px;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 40px;
                    color: $black-color;
                    display: inline-block;
                }
                &__list {
                    margin-bottom: 8px;
                    display: inline-block;
                    &-comment {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }
        }
        .slider__navigation {
            &-btn {
                padding: 15px;
                background-color: #fff;
                border-radius: 50%;
                border: none;
                width: 60px;
                height: 60px;
                margin-right: 24px;
                box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
                cursor: pointer;
            }
        }
    }
    
}

@media (max-width: 1070px) {
  
    .review {
        &__info {
            margin-left: 40px;
            padding-top: 70px;
            &-title {
                line-height: 52px;
                font-size: 45px;
            }

            &-rating {
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 860px) {
  
    .review {
        &__inner {
            flex-direction: column;
            position: relative;
        }
        &__items {
            margin-bottom: 40px;
        }
        .slider__navigation {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &__slider {
            order: 2;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        &__info {
            width: 100%;
            margin-left: 0;
            text-align: center;
            &-title {
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 480px) {
  
    .review {
        &__item {
            max-width: 340px;
            width: 80%;
            margin-right: 10px;
        }
    }
}